.feed{
    background-color: #fff;
    margin-top: 60px;
}
.feed__header{
    text-align: center;
}
.feed__header-content{
    font-size: 25px;
    color: #f42f10;
}
.feed__text{
    margin-top: 6px;
    font-size: 18px;
    color: #3a3a81;
}
.feed__body{
    margin-top: 30px;
}
.feed__container{
    max-width: 1250px;
    margin: 0 auto;
}