.sp__wrap{
    background-color: rgb(60, 18, 18);
    padding: 20px 0;
}
.sp__header{
    font-size: 3rem;
    color: #fff;
    padding: 0 0 20px 10px;
}
.sp__list{
    max-width: 1200px;
    margin: 0 auto;
}