
  .makepost-title {
    height: 50px;
    background-color: #f7b569;
    color: #000;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
  }
.input-lable{
    color: #ed6014;
    font-size: 18px;
    
}